<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>E-bayo (online kabayo store) </title>
</head>

<body>
    <div class="grind-container">
        <header>
            <div>
                <a class="brand" href="index.html">E-bayo (online kabayo store) </a>
            </div>
            <div>
                <a href="cart.html"> View Cart </a>
                <a href="signin.html"> Sign In</a>
            </div>
        </header>
        <main>
            <ul>
                <li>Product 1</li>
                <li>Product 1</li>
                <li>Product 1</li>
                <li>Product 1</li>
            </ul>
        </main>
        <footer class="row center"> all rights reserved. </footer>
    </div>
</body>

</html>